:local(.banner) {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

:local(.heading) {
  color: black;
  position: absolute;
  padding: 0;
}
