:local(.levelTable) {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  th {
    opacity: 0.4;
    font-weight: normal;
    padding-bottom: 5px;
  }
}

:local(.levelHeading) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 10px 0;

  :local(.buttonGroup) {
    display: flex;
  }
}

:local(.spellsContainer) {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

:local(.name) {
  width: 50%;
}

:local(.range) {
  width: 25%;
}

:local(.castingTime) {
  width: 25%;
}

:local(.padding) {
  padding-right: 2px;
}
