:local(.spellEntry) {
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.25rem;
  border-bottom: 1px solid grey;
  height: 50px;
  cursor: pointer;
}

:local(.description) {
  padding-top: 10px;
  p {
    height: 145px;
    overflow: scroll;
  }
}

:local(.expandedDetails) {
  border-bottom: 1px solid grey;
}
