:local(.spellEntry) {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
}

:local(.spellName) {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5px;
}

:local(.description) {
  padding-top: 10px;
}

:local(.spellDetail) {
  :local(.categoryTitle) {
    font-weight: bold;
  }
}
