:local(.spellEntry) {
  padding: 10px;
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  box-shadow: 5px 5px 5px lightgray;
  height: 320px;
  box-sizing: border-box;
  overflow: hidden;
}

:local(.spellName) {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5px;
}

:local(.description) {
  padding-top: 10px;
}

:local(.spellDetail) {
  :local(.categoryTitle) {
    font-weight: bold;
  }
}
